.itemCard {
  background-color: #2d4263;
  border-radius: 8px;
  overflow: hidden;
  transition: transform 0.3s, box-shadow 0.3s;
  display: flex;
  flex-direction: column;
  min-height: 400px;
}

.card-img-top {
  object-fit: contain;
  object-position: center;
  height: 200px;
}

.cardBody {
  padding: 16px;
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  color: #fff;
}

.cardTitle {
  font-size: 1.25rem;
  margin-bottom: 0.75rem;
  color: #ccc;
  text-align: center;
}

.cardTitle.long-title {
  text-align: left;
}

.card-text {
  font-size: 1rem;
  margin-bottom: 1rem;
  color: #fff;
}

.truncated-description {
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
  height: calc(1.2em * 3);
}

.cardText-body-secondary {
  font-size: 0.875rem;
  color: #ccc;
  text-align: center;
}

.btn {
  display: block;
  width: 100%;
  text-align: center;
  padding: 8px 16px;
  font-size: 1rem;
  color: #fff;
  background-color: #007bff;
  border: none;
  border-radius: 4px;
  transition: background-color 0.3s;
  margin-top: 1rem;
}

.btn:hover {
  background-color: #0056b3;
}

.itemCard:hover {
  transform: translateY(-5px);
  background-color: #11294d;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}
