.navbar {
  background-color: #000;
  height: 60px;
}
.navbar .fixed-top {
  position: fixed;
  top: 0;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 20px;
  z-index: 1000;
}

.navbar-brand .logo {
  height: 50px;
  width: 50px;
  border-radius: 14px;
}
